{% if entries|length %}
    <table class="data fullwidth collapsible">
        <tbody>
        {% for entry in entries %}
            <tr>
                <td data-title="{{ 'Entry'|t('sprout-forms') }}">
                    {% if currentUser.can('accessPlugin-SproutForms') -%}
                        <a href="{{ entry.getCpEditUrl() }}"
                            title="{{ 'Edit entry'|t('sprout-forms') }}">{{ entry.title }}</a>
                    {% else -%}
                        {{ entry.title }}
                    {% endif %}
                    {% if widget.formId == 0 -%}
                        <br>
                        {{ entry.formName }} – <span
                        class="light">{{ entry.dateCreated|date('n/j/Y') }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ 'No recent form entries available.'|t('sprout-forms') }}</p>
{% endif %}
