{% do craft.sproutForms.addFieldVariables({
    'craft': craft,
    'now': now,
    'currentSite': currentSite,
    'currentUser': currentUser,
    'siteName': siteName,
    'siteUrl': siteUrl,
    'systemName': systemName
}) -%}
{% set renderingOptions = renderingOptions is defined and renderingOptions is not empty ? renderingOptions : {} -%}
{%- set lastEntry = craft.sproutForms.lastEntry(form.id) -%}
{%- set globalErrorsEnabled = form.errorDisplayMethod in ['both', 'global'] ? true : false -%}
{%- set errors      = entry.getErrors()|length ? entry.getErrors() : false -%}
{%- set errorClass  = renderingOptions.errorClass is defined ? renderingOptions.errorClass : 'errors' -%}
{%- set id          = renderingOptions.id is defined ? renderingOptions.id : form.handle ~ '-form' %}
{%- set class       = renderingOptions.class is defined ? renderingOptions.class : form.handle ~ '-form' -%}
{%- set redirectUri = form.redirectUri -%}
{%- set rules       = form.getRules() -%}

{%- set globalErrorListHtml -%}
    {% set globalErrors = [] %}
    {% for errors in entry.getErrors() %}
        {% for error in errors %}
            {% set globalErrors = globalErrors|merge([error]) %}
        {% endfor %}
    {% endfor %}
    {% include "errors" with {
        errors: globalErrors
    } %}
{%- endset -%}

<form method="post" accept-charset="utf-8" enctype="multipart/form-data" data-submission-method="{{ form.submissionMethod }}"
    {%- if id %} id="{{ id }}"{% endif -%}
    {%- if class %} class="{{ class -}}{%- if errors %} {{ errorClass }}{% endif -%}"{% endif -%}
    {%- if rules %} data-rules="{{ rules|json_encode|raw|e('html') }}"{% endif -%}
>
    {{ csrfInput() }}
    <input type="hidden" aria-hidden="true" name="action"
        value="sprout-forms/entries/save-entry">
    <input type="hidden" name="handle" value="{{ form.handle }}">
    {% if redirectUri is not empty -%}
        {% if redirectUri|slice(0, 1)|lower == '?' %}
            {%- set redirectUri = craft.app.request.getUrl()~redirectUri %}
        {% endif %}

        <input type="hidden" name="redirect" value="{{ redirectUri|hash }}">
    {% endif %}

    {% if globalErrorsEnabled and errors|length and (form.errorMessage or globalErrorListHtml) %}
        {% set errorMessage = view.renderObjectTemplate(form.errorMessage, entry) %}
        <div id="{{ id }}-message-box" class="sproutforms-message-errors">
            {{ errorMessage|markdown }}
            {{ globalErrorListHtml }}
        </div>
    {% endif %}

    {% if lastEntry and form.id == lastEntry.getForm().id and form.successMessage %}
        {% set successMessageTemplate = form.successMessage ?? '' %}
        {% set successMessage = view.renderObjectTemplate(successMessageTemplate, lastEntry) %}
        <div id="{{ id }}-message-box" class="sproutforms-message-success">{{ successMessage|markdown }}</div>
    {% endif %}

    <div class="fields">
        {%- for tab in form.getFieldLayout().getTabs() %}
            {{ craft.sproutForms.displayTab(form, tab.id, renderingOptions) }}
        {% endfor -%}
    </div>

    {# Do not remote this line when customizing templates.
       All Captcha behavior depends on this hook. #}
    {% hook 'sproutForms.modifyForm' %}

    <div class="submit">
        <input type="submit"
            value="{{ form.submitButtonText is not empty ? form.submitButtonText : 'Submit'|t('site') }}">
    </div>
</form>

{# Add focus to the first field which has an error #}
{% if errors -%}
    {%- for labelId, error in errors %}
        {%- if loop.first %}
            {%- js at endBody %}
                (function() {
                var field = document.getElementById('fields-' + '{{ labelId }}');
                if (field) {
                field.focus();
                }
                })();
            {% endjs -%}
        {%- endif %}
    {%- endfor %}
{%- endif %}

{% css %}
    .sprout-hidden{
    display: none !important;
    }
{% endcss %}

{%- set addressFieldJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/addressfield.js',
    true) -%}
{%- do view.registerJsFile(addressFieldJsUrl) -%}

{%- set disableSubmitButtonJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/disable-submit-button.js',
    true) -%}
{%- do view.registerJsFile(disableSubmitButtonJsUrl) -%}

{%- set rulesJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/rules.js',
    true) -%}
{%- do view.registerJsFile(rulesJsUrl) -%}

{%- set submitHandlerJsUrl = view.getAssetManager().getPublishedUrl(
    '@sproutforms/web/assets/formtemplates/dist/js/submit-handler.js',
    true) -%}
{%- do view.registerJsFile(submitHandlerJsUrl) -%}

{% js at endBody %}
    (function() {
    window.csrfTokenName = "{{ craft.app.getConfig().getGeneral().csrfTokenName|e('js') }}";
    new SproutFormsAddressField('{{ id }}');
    new SproutFormsDisableSubmitButton('{{ id }}');
    new SproutFormsRules('{{ id }}');
    new SproutFormsSubmitHandler('{{ id }}');
    })();
{% endjs -%}