{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set value = value ? value : [] %}

{%- set multiple = field.limit == '' ? true : field.limit > 1 ? true : false %}
{%- set selectionLabel = field.selectionLabel != '' ? field.selectionLabel : field.defaultSelectionLabel() ~ '…' -%}
{%- set hasTitle = users|length > 1 %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{%- endfor -%}

{% spaceless %}
    <select {%- if name %} name="{{ name }}[]"{% endif %}
        {%- if id %} id="{{ id }}"{% endif %}
        {%- if class %} class="{{ class }}"{% endif %}
        {%- if required %} required aria-required="true"{% endif %}
        {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
        {%- if multiple %} multiple {% endif %}
        {{- dataAttributes|raw -}}
    >
        {%- if not multiple -%}
            <option value="" disabled selected>{{ selectionLabel }}</option>
        {%- endif -%}
        {%- for options in users -%}
            {% if hasTitle %}
                {% set label = options.group == 'admin' ? 'Admins'|t('sprout-forms') : options.group.name %}
                <optgroup label="{{ label }}">
            {% endif %}
            {%- for option in options.users -%}
                {% set username = null %}
                {% switch field.usernameFormat %}
                {% case "username" %}
                    {% set username = option.username %}
                {% case "email" %}
                    {% set username = option.email %}
                {% default %}
                    {% set username = option.getFullName() %}
                {% endswitch %}

                {# Only add an option if our username value is not null #}
                {% if username %}
                    {%- set optionLabel = username -%}
                    {%- set optionValue =  option.id -%}

                    <option value="{{ optionValue }}"
                        {% if optionValue in value %}selected{% endif %}>{{ optionLabel }}</option>

                {% endif %}
            {% endfor %}
            {% if hasTitle %}
                </optgroup>
            {% endif %}
        {% endfor %}
    </select>
{% endspaceless %}