{% requireAdmin %}

{% import "_includes/forms" as forms %}
{% import "sprout-base-fields/_includes/forms" as sproutFields %}

{% set saveShortcutRedirect = 'sproutforms/settings/advanced' %}

{% if currentUser.admin %}

    <div id="settings-cp">

        {% namespace 'settings' %}

            {{ forms.lightswitchField({
                label: "Save data from form submissions in the Craft database"|t('sprout-forms'),
                instructions: "By default, Sprout Forms will save your form submissions to the Craft database. Disable this setting to stop Sprout Forms from saving data to the Craft database."|t('sprout-forms'),
                id: 'enableSaveData',
                name: 'enableSaveData',
                toggle: 'settings-savedatadetails',
                on: settings.enableSaveData,
                onLabel: "Enable"|t('sprout-forms'),
            }) }}

            <div id="settings-savedatadetails"
                 class="{{ not settings.enableSaveData ? "hidden" : '' }}">

                {{ forms.lightswitchField({
                    label: "Enable Data Controls and Integrations on a per-form basis"|t('sprout-forms'),
                    instructions: "If you wish send your Form data to third-party integrations or have some of your forms save data to the Craft database and ensure others do not save any data, enable this setting and a new Integrations section will appear on  your Form Edit page."|t('sprout-forms'),
                    id: 'enableIntegrationsPerFormBasis',
                    name: 'enableIntegrationsPerFormBasis',
                    toggle: 'settings-savedatadefault',
                    on: settings.enableIntegrationsPerFormBasis,
                    onLabel: "Enable"|t('sprout-forms'),
                }) }}

                <div id="settings-savedatadefault"
                     class="{{ not settings.enableIntegrationsPerFormBasis ? "hidden" : '' }}">

                    {{ forms.lightswitchField({
                        label: "Save form submissions to the Craft database"|t('sprout-forms'),
                        instructions: "The default behavior for saving data when a new Form is created. This setting will update the value of the Form Entries Integration lightswitch field on the Integrations tab of your form settings."|t('sprout-forms'),
                        id: 'saveDataByDefault',
                        name: 'saveDataByDefault',
                        on: settings.saveDataByDefault,
                        onLabel: "Enable"|t('sprout-forms'),
                    }) }}

                </div>

            </div>

        {% endnamespace %}

    </div>

{% endif %}