{% requireAdmin %}

{% import "_includes/forms" as forms %}
{% import "sprout-base-fields/_includes/forms" as sproutFields %}

{% set saveShortcutRedirect = 'sproutforms/settings/advanced' %}

{% if currentUser.admin %}

    <div id="settings-cp">

        {% namespace 'settings' %}

            {{ forms.lightswitchField({
                label: "Save data to the Craft database"|t('sprout-forms'),
                instructions: "Disable this setting to stop Sprout Forms from saving data to the Craft database."|t('sprout-forms'),
                id: 'enableSaveData',
                name: 'enableSaveData',
                toggle: 'settings-savedatadetails',
                on: settings.enableSaveData,
                onLabel: "Enable"|t('sprout-forms'),
            }) }}

            <div id="settings-savedatadetails"
                 class="{{ not settings.enableSaveData ? "hidden" : '' }}">

                {{ forms.lightswitchField({
                    label: "Enable Save Data settings on a per-form basis"|t('sprout-forms'),
                    instructions: "Enable this setting to control Save Data behavior via an option on each Form Edit page."|t('sprout-forms'),
                    id: 'enableSaveDataPerFormBasis',
                    name: 'enableSaveDataPerFormBasis',
                    toggle: 'settings-savedatadefault',
                    on: settings.enableSaveDataPerFormBasis,
                    onLabel: "Enable"|t('sprout-forms'),
                }) }}

                <div id="settings-savedatadefault"
                     class="{{ not settings.enableSaveDataPerFormBasis ? "hidden" : '' }}">

                    {{ forms.lightswitchField({
                        label: "Enable Save Data by default"|t('sprout-forms'),
                        instructions: "The default behavior for saving data when a new Form is created."|t('sprout-forms'),
                        id: 'saveDataByDefault',
                        name: 'saveDataByDefault',
                        on: settings.saveDataByDefault,
                        onLabel: "Enable"|t('sprout-forms'),
                    }) }}

                </div>

            </div>

            {{ forms.lightswitchField({
                label: "Enable Integrations"|t('sprout-forms'),
                instructions: "Enable this setting and a new Integrations section will appear on your Form Edit page. Integrations allow you to send your Form data to third-party services."|t('sprout-forms'),
                id: 'enableIntegrationsPerFormBasis',
                name: 'enableIntegrationsPerFormBasis',
                on: settings.enableIntegrationsPerFormBasis,
                onLabel: "Enable"|t('sprout-forms'),
            }) }}

        {% endnamespace %}

    </div>

{% endif %}