{% requireAdmin %}

{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: "Spam Redirect Behavior"|t('sprout-forms'),
    instructions: 'The behavior your user will see if a submission is flagged as spam.'|t('sprout-forms'),
    name: 'spamRedirectBehavior',
    options: craft.sproutForms.getSpamRedirectBehaviorOptions(),
    value: settings.spamRedirectBehavior,
    first: true
}) }}

<hr>

{% set captchas = craft.sproutForms.getAllCaptchas() %}
{% for captcha in captchas %}

    {% set isEnabled = settings['captchaSettings'][captcha.getCaptchaId()]['enabled'] ?? false %}
    {{ forms.lightswitchField({
        label: captcha.getName(),
        instructions: captcha.getDescription(),
        name: 'captchaSettings[' ~ captcha.getCaptchaId() ~ '][enabled]',
        toggle: captcha.getCaptchaId(),
        on: isEnabled,
        onLabel: "Enable"|t('sprout-forms'),
    }) }}

    {% if captcha.getCaptchaSettingsHtml()|length %}
        <div id="{{ captcha.getCaptchaId() }}" class="{{ not isEnabled ? "hidden" : '' }}">
            {{ captcha.getCaptchaSettingsHtml()|raw }}
        </div>
    {% endif %}
    <hr>
{% endfor %}
