{% requireAdmin %}

{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: "Spam Behavior"|t('sprout-forms'),
    instructions: 'Select the spam behavior'|t('sprout-forms'),
    name: 'spamBehavior',
    options: craft.sproutForms.getSpamBehaviorOptions(),
    value: settings.spamBehavior,
    first: true
}) }}

{{ forms.lightswitchField({
    label: "Save Spam to the database",
    instructions: "Should we store the spam in the database?",
    name: 'saveSpamToDatabase',
    on: settings.saveSpamToDatabase,
    toggle: "spamLimit-field",
    onLabel: "Enable"|t('sprout-forms'),
}) }}

{{ forms.textField({
    label: "Spam Limit"|t('sprout-forms'),
    instructions: "The total number of Spam entries that will be stored in the database. When the limit is reached, the least recently updated Spam entry will be deleted from the database."|t('sprout-forms'),
    id: 'spamLimit',
    name: 'spamLimit',
    size:'10',
    value: settings.spamLimit
}) }}

<hr>

{% set captchas = craft.sproutForms.getAllCaptchas() %}
{% for captcha in captchas %}

    {% set isEnabled = settings['captchaSettings'][captcha.getCaptchaId()]['enabled'] ?? false %}
    {{ forms.lightswitchField({
        label: captcha.getName(),
        instructions: captcha.getDescription(),
        name: 'captchaSettings[' ~ captcha.getCaptchaId() ~ '][enabled]',
        toggle: captcha.getCaptchaId(),
        on: isEnabled,
        onLabel: "Enable"|t('sprout-forms'),
    }) }}

    {% if captcha.getCaptchaSettingsHtml()|length %}
        <div id="{{ captcha.getCaptchaId() }}" class="{{ not isEnabled ? "hidden" : '' }}">
            {{ captcha.getCaptchaSettingsHtml()|raw }}
        </div>
    {% endif %}
    <hr>
{% endfor %}
