{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set value = value ? value : null %}
{%- set errors = entry is not empty ? entry.getErrors(name) : null %}
{%- set errorClass = renderingOptions.errorClass ?? null %}
{%- set class = errors and errorClass ? class~' '~errorClass : class %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{% endfor -%}

{% if field.displayMultipleFields %}

    <div {%- if id %} id="{{ id }}"{% endif %} class="{{ name }}-wrapper
        {%- if class %} {{ class }}{% endif %}"
        {{- dataAttributes|raw -}}>

        {% if field.displayPrefix %}
            <div {%- if id %} id="{{ id }}-prefix"{% endif %}>
                <label {%- if id %} for="{{ id }}-prefix-input"{% endif %}>{{ "Prefix"|t('site') }}</label>
                <input type="text"
                    {%- if name %} name="{{ name ~ '[name][prefix]' }}"{% endif %}
                    {%- if id %} id="{{ id }}-prefix-input"{% endif %}
                    {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
                    {%- if value %} value="{{ value.prefix }}"{% endif %}
                >
            </div>
        {% endif %}

        <div {%- if id %} id="{{ id }}-firstName"{% endif %}>
            <label {%- if id %} for="{{ id }}-firstName-input"{% endif %}>{{ "First"|t('site') }}</label>
            <input type="text" autocomplete="given-name"
                {%- if name %} name="{{ name ~ '[name][firstName]' }}"{% endif %}
                {%- if id %} id="{{ id }}-firstName-input"{% endif %}
                {%- if required %} required aria-required="true"{% endif %}
                {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
                {%- if value %} value="{{ value.firstName }}"{% endif %}
            >
        </div>

        {% if field.displayMiddleName %}
            <div {%- if id %} id="{{ id }}-middleName"{% endif %}>
                <label {%- if id %} for="{{ id }}-middleName-input"{% endif %}>{{ "Middle"|t('site') }}</label>
                <input type="text" autocomplete="additional-name"
                    {%- if name %} name="{{ name ~ '[name][middleName]' }}"{% endif %}
                    {%- if id %} id="{{ id }}-middleName-input"{% endif %}
                    {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
                    {%- if value %} value="{{ value.middleName }}"{% endif %}
                >
            </div>
        {% endif %}

        <div {%- if id %} id="{{ id }}-lastName"{% endif %}>
            <label {%- if id %} for="{{ id }}-lastName-input"{% endif %}>{{ "Last"|t('site') }}</label>
            <input type="text" autocomplete="family-name"
                {%- if name %} name="{{ name ~ '[name][lastName]' }}"{% endif %}
                {%- if id %} id="{{ id }}-lastName-input"{% endif %}
                {%- if required %} required aria-required=" true"{% endif %}
                {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
                {%- if value %} value="{{ value.lastName }}"{% endif %}
            >
        </div>

        {% if field.displaySuffix %}
            <div {%- if id %} id="{{ id }}-suffix"{% endif %}>
                <label {%- if id %} for="{{ id }}-suffix-input"{% endif %}>{{ "Suffix"|t('site') }}</label>
                <input type="text"
                    {%- if name %} name="{{ name ~ '[name][suffix]' }}"{% endif %}
                    {%- if id %} id="{{ id }}-suffix-input"{% endif %}
                    {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
                    {%- if value %} value="{{ value.suffix }}"{% endif %}
                >
            </div>
        {% endif %}

    </div>

{% else %}

    <input type="text" autocomplete="name"
        {%- if name %} name="{{ name ~ '[name][fullNameShort]' }}"{% endif %}
        {%- if id %} id="{{ id }}"{% endif %}
        {%- if class %} class="{{ class }}"{% endif %}
        {%- if required %} required aria-required="true"{% endif %}
        {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
        {%- if value %} value="{{ value.getFullName() }}"{% endif %}
    >

{% endif %}