{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set values = value is defined ? value : [] %}
{%- set errors = entry is not empty ? entry.getErrors(name) : null %}
{%- set errorClass = renderingOptions.errorClass ?? null %}
{%- set class = errors and errorClass ? class~' '~errorClass : class %}

{%- set options = field.options ? field.options : [] %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{% endfor -%}

{% spaceless %}
    <div
        {%- if id %} id="{{ id }}"{% endif %}
        {%- if class %} class="{{ class }}"{% endif %}>

        {% if name is defined and (name|length < 3 or name|slice(-2) != '[]') %}
            <input type="hidden" aria-hidden="true" name="{{ name }}" value="">
        {% endif %}

        {%- for key, option in options %}

            {%- set label = (option.label is defined ? option.label : option) %}
            {%- set value = (option.value is defined ? option.value : key) %}

            <label {%- if id %} for="{{ id }}-{{ loop.index }}"{% endif %}>
                <input type="checkbox"
                    {%- if name %} name="{{ name }}[]"{% endif %}
                    {%- if id %} id="{{ id }}-{{ loop.index }}"{% endif %}
                    {%- if required %} required aria-required="true"{% endif %}
                    {%- if value %} value="{{ value }}"{% endif %}
                    {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
                    {%- if value in values %} checked aria-checked="true"{% else %} aria-checked="false"{% endif %}
                    {{- dataAttributes|raw -}}
                >
                {%- if label is defined %} {{ label|raw }}{% endif -%}
            </label>

        {% endfor %}
    </div>
{% endspaceless %}


