{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set value = value ? value : [] %}
{%- set errors = entry is not empty ? entry.getErrors(name) : null %}
{%- set errorClass = renderingOptions.errorClass ?? null %}
{%- set class = errors and errorClass ? class~' '~errorClass : class %}

{%- set multiple = field.limit == '' ? true : field.limit > 1 ? true : false %}
{%- set selectionLabel = field.selectionLabel != '' ? field.selectionLabel : "Select an entry..."|t('site') -%}
{%- set hasTitle = entries|length > 1 %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{%- endfor -%}

{% spaceless %}
    <select {%- if name %} name="{{ name }}[]"{% endif %}
        {%- if id %} id="{{ id }}"{% endif %}
        {%- if class %} class="{{ class }}"{% endif %}
        {%- if required %} required aria-required="true"{% endif %}
        {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
        {%- if multiple %} multiple {% endif %}
        {{- dataAttributes|raw -}}
    >
        {%- if not multiple -%}
            <option value="" disabled selected>{{ selectionLabel }}</option>
        {%- endif -%}
        {%- for options in entries -%}
            {% if hasTitle %}
                {% set label = options.singles is defined ? 'Singles'|t('site') : options.section.name %}
                <optgroup label="{{ label }}">
            {% endif %}
            {%- for option in options.entries -%}
                {% set section = craft.app.sections.getSectionById(option.sectionId) %}
                {%- set optionLabel = options.singles is defined ? section.name : option.title -%}
                {%- set optionValue =  option.id -%}

                <option value="{{ optionValue }}"
                    {% if optionValue in value %}selected{% endif %}>{{ optionLabel }}</option>

            {% endfor %}
            {% if hasTitle %}
                </optgroup>
            {% endif %}
        {% endfor %}
    </select>
{% endspaceless %}