{% import "_includes/forms" as forms %}

{% if field.displayMultipleFields %}

    {% set addressInput %}

        <div class="sprout-address-input-wrapper">

            {% if field.displayPrefix %}
                <div class="sprout-address-input sprout-address-input-prefix">
                    {{ forms.textField({
                        label: 'Prefix'|t('sprout-forms'),
                        disabled: true,
                        readonly: true
                    }) }}
                </div>
            {% endif %}

            <div class="sprout-address-input sprout-address-input-firstname">
                {{ forms.textField({
                    label: 'First'|t('sprout-forms'),
                    disabled: true,
                    readonly: true
                }) }}
            </div>

            {% if field.displayMiddleName %}
                <div class="sprout-address-input sprout-address-input-middlename">
                    {{ forms.textField({
                        label: 'Middle'|t('sprout-forms'),
                        disabled: true,
                        readonly: true
                    }) }}
                </div>
            {% endif %}

            <div class="sprout-address-input sprout-address-input-lastname">
                {{ forms.textField({
                    label: 'Last'|t('sprout-forms'),
                    disabled: true,
                    readonly: true
                }) }}
            </div>

            {% if field.displaySuffix %}
                <div class="sprout-address-input sprout-address-input-suffix">
                    {{ forms.textField({
                        label: 'Suffix'|t('sprout-forms'),
                        disabled: true,
                        readonly: true
                    }) }}
                </div>
            {% endif %}
        </div>
    {% endset %}

    {{ forms.field({
    }, addressInput) }}

{% else %}

    {{ forms.text({
        disabled: true
    }) }}

{% endif %}

<style>
    .sprout-address-input-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sprout-address-input {
        flex-grow: 1;
        margin-right: 10px;
        width: 26%;
    }

    .sprout-address-input input {
        width: 100% !important;
    }

    {##fields-{{ id }}-field .field {#}
    {#margin-bottom: 0;#}
    {#}#}
    .sprout-address-input .heading > label {
        font-weight: normal;
    }

    .sprout-address-input:last-of-type {
        margin-right: 0;
    }

    .sprout-address-input-prefix,
    .sprout-address-input-suffix {
        width: 11%;
    }

    @media (max-width: 600px) {
        .sprout-address-input-wrapper {
            flex-direction: column;
        }

        .sprout-address-input {
            flex-grow: 1;
            margin-left: 0;
            margin-top: 10px;
            width: 100%;
        }

        .sprout-address-input .heading,
        .sprout-address-input .input {
            float: left;
        }

        .sprout-address-input .heading {
            padding-top: 6px;
            padding-right: 2%;
            text-align: right;
            width: 20%;
        }

        .sprout-address-input .input {
            width: 78%;
        }
    }
</style>