{% import "_includes/forms" as forms %}

{{ forms.lightswitchField ({
    label: "Display multiple fields"|t('sprout-forms'),
    instructions: "Enable this setting if you wish to choose the specific name fields that display. By default the Name field displays a single field and dynamically treats everything that comes before the first space as the First Name and anything that comes after the first space as the Last Name."|t('sprout-forms'),
    name: 'displayMultipleFields',
    on: field.displayMultipleFields,
    toggle: 'sproutnamefield-display-settings'
}) }}

<div id="sproutnamefield-display-settings"
     class="{{ field.displayMultipleFields ?: 'hidden' }}">

    {% set advancedInput %}
        <table class="data" style="width: auto;">
            <thead>
            <tr>
                <th style="min-width: 180px;">{{ "Field"|t('sprout-forms') }}</th>
                <th>{{ "Enabled?"|t }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label for="displayPrefix">{{ "Prefix"|t('sprout-forms') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            id: 'displayPrefix',
                            name: 'displayPrefix',
                            on: field.displayPrefix,
                            small: true
                        }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="displayFirstName">{{ "First Name"|t('sprout-forms') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            id: 'displayFirstName',
                            name: 'displayFirstName',
                            on: true,
                            small: true,
                            disabled: true
                        }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="displayMiddleName">{{ "Middle Name"|t('sprout-forms') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            id: 'displayMiddleName',
                            name: 'displayMiddleName',
                            on: field.displayMiddleName,
                            small: true
                        }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="displayLastName">{{ "Last Name"|t('sprout-forms') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            id: 'displayLastName',
                            name: 'displayLastName',
                            on: true,
                            small: true,
                            disabled: true
                        }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="displaySuffix">{{ "Suffix"|t('sprout-forms') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            id: 'displaySuffix',
                            name: 'displaySuffix',
                            on: field.displaySuffix,
                            small: true
                        }) }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    {% endset %}

    {{ forms.field({
        label: "Which fields do you wish to display?"|t('sprout-forms'),
        instructions: "First Name and Last Name are enabled by default. Fields will display in the order that they appear.."|t('sprout-forms')
    }, advancedInput) }}

</div>
