{% requirePermission "sproutForms-editEntries" %}

{% extends "sprout-forms/_layouts/base" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}

{% set canCreateForm = craft.app.getModule('sprout-forms').app.forms.canCreateForm() %}

{% set crumbs = [
    { label: "Entries"|t('sprout-forms'), url: cpUrl('sprout-forms/entries') }
] %}

{% set title = 'Edit Entry'|t('sprout-forms') %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'sprout-forms/entries/edit/' ~ entryId %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit first">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('sprout-forms') }}">
            {% if entryId != null %}
                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <hr>
                    <ul>
                        <li><a class="formsubmit error"
                                data-action="sprout-forms/entries/delete-entry"
                                data-confirm='{{ "Are you sure you want to delete this entry and all of it's data?"|t('sprout-forms') }}'
                                data-redirect="{{ 'sprout-forms/entries'|hash }}">{{ "Delete"|t('sprout-forms') }}</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>

        {% if not canCreateForm %}
            {{ sprout.upgradeToProButton({
                url: cpUrl('sprout-forms/upgrade'),
                title: "Upgrade to Sprout Forms PRO to manage Unlimited Forms"|t('sprout-forms')
            }) }}
        {% endif %}
    </div>
{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="sprout-forms/entries/save-entry">
    <input type="hidden" name="handle" value="{{ form.handle }}">
    <input type="hidden" name="entryId" value="{{ entryId }}">

    {% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

    <div id="fields">

        {% for tab in fieldLayoutTabs %}

            {% set fields = tab.getFields() %}

            <div id="tab{{ loop.index }}"
                {% if not loop.first %}class="hidden"{% endif %}>

                {% namespace namespace %}

                    {% for field in fields %}
                        {% include "_includes/field" with {
                            field:    field,
                            required: field.required,
                            element:  entry,
                            static: null
                        } only %}
                    {% endfor %}

                {% endnamespace %}

            </div>

        {% endfor %}

    </div>

    {% hook 'cp.sproutForms.entries.edit.content' %}

{% endblock %}

{% block details %}

    <div class="meta">

        {% set formName = "<h6>" ~ form.name ~ "</h6>" %}

        {{ forms.field({
            label: "Form Name"|t('sprout-forms'),
        }, formName) }}

        {{ forms.selectField({
            label: "Entry Status"|t('sprout-forms'),
            id: 'statusId',
            name: 'statusId',
            value: entry.statusId,
            options: statuses,
            errors: entry.getErrors('statusId')
        }) }}

    </div>
    <hr>
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Submitted"|t('sprout-forms') }}</h5>
            <div class="value">{{ entry.dateCreated|datetime('short') }}</div>
        </div>
    </div>

    {% set integrationLogs = entry.integrationLog() %}
    {% if integrationLogs %}
        <div class="meta read-only">
            <h6 class="title">{{ "Integrations"|t('sprout-forms') }}</h6>
            <hr>
            {% for integrationLog in integrationLogs %}
                <div class="data">
                    {% set integration = craft.app.getModule('sprout-forms').app.integrations.getIntegrationById(integrationLog.integrationId) %}
                    <h5 class="heading">{{ integration.name }}</h5>
                    {% if integrationLog.success %}
                        {% if integrationLog.status == 'notsent' %}
                            <div class="value"><span class="status pending"></span>
                                {{ "Not Sent"|t('sprout-forms') }}
                                <span class="info">{{ integrationLog.message }}</span>
                            </div>
                        {% else %}
                            <div class="value"><span class="status live"></span>
                                {{ "Success"|t('sprout-forms') }}
                                <span class="info">{{ integrationLog.message }}</span>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if integrationLog.status == 'pending' %}
                            <div class="value"><span class="status pending"></span>
                                {{ "Pending"|t('sprout-forms') }}
                                <span class="info">{{ integrationLog.message }}</span>
                            </div>
                        {% else %}
                            <div class="value"><span class="status disabled"></span>
                                {{ "Error"|t('sprout-forms') }}
                                <span class="info">{{ integrationLog.message }}</span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if entry.getSavedCaptchaErrors()|length %}
        <div class="meta read-only">
            <h6 class="title">{{ "Failed Captchas"|t('sprout-forms') }}</h6>
            <hr>
            {% for captchaError in entry.getSavedCaptchaErrors() %}
                <div class="data">
                    {% set captcha = create(captchaError.type) %}
                    <div style="padding-top:8px;"><span class="status error"></span>
                        {{ captcha.name }}
                        <span class="info">{{ captchaError.errors }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% hook 'cp.sproutForms.entries.edit.details' %}

{% endblock %}

{% css %}
    #content-container #tabs ul{
    width: 100% !important;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    }

    #content-container #tabs ul li {
    display: inline-table;
    }

{% endcss %}

