{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set value = value ? value : null %}
{%- set errors = entry is not empty ? entry.getErrors(name) : null %}
{%- set errorClass = renderingOptions.errorClass ?? null %}
{%- set class = errors and errorClass ? class~' '~errorClass : class %}

{%- set selectionLabel = field.selectionLabel != '' ? field.selectionLabel : "Select a tag..."|t('site') -%}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{%- endfor -%}

{% spaceless %}
    <select multiple {%- if name %} name="{{ name }}[]"{% endif %}
        {%- if id %} id="{{ id }}"{% endif %}
        {%- if class %} class="{{ class }}"{% endif %}
        {%- if required %} required aria-required="true"{% endif %}
        {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
        {{- dataAttributes|raw -}}
    >
        {%- for options in tags -%}
            {%- for option in options.tags -%}
                {%- set optionLabel = option.title -%}
                {%- set optionValue = option.id -%}

                <option value="{{ optionValue }}"
                    {% if optionValue == value %}selected{% endif %}>{{ optionLabel }}</option>

            {% endfor %}
        {% endfor %}
    </select>
{% endspaceless %}