{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set errors = entry is not empty ? entry.getErrors(name) : null %}
{%- set errorClass = renderingOptions.errorClass ?? null %}
{%- set class = errors and errorClass ? class~' '~errorClass : class %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'='~dataValue %}
{% endfor -%}

{# This will wrap the generated HTML for all the address fields #}
<div{%- if id %} id="{{ id }}"{% endif %} class="{{ name }}-wrapper sproutfields-address-formfields {%- if class %} {{ class }}{% endif %}" data-namespace="{{ field.getNamespace() ~ '[' ~ name ~ ']' }}" {{- dataAttributes|raw -}}>
    {# The select.html file is used for the Country dropdown fields. It will also be used used for the Region dropdown fields if hey exist, in the {{ form }} output below. #}
    {{ countryInputHtml }}

    {# The form output will include several fields that use the text.html and select.html fields. #}
    <div class="sprout-address-country-fields">
        {{ addressFormHtml }}
    </div>
    {# the hidden.html file will be output here ??? #}
</div>

{# Store our dynamic field template path for our address field logic #}
{% do craft.app.getSession().set('sproutforms-templatepath-fields', craft.app.getView().getTemplatesPath()) %}