{% extends "_components/fieldtypes/elementfieldsettings" %}

{# Note: This template is largely copied from Craft's asset field settings template (_components/fieldtypes/Assets/settings). We copy instead of extending because the field settings really aren't designed to be extended and rather than getting hacky with javascript, we want control over the fields we support and how they are framed for the form use case #}
{% import "_includes/forms" as forms %}

{% set fileKindOptions = field.getFileKindOptions() %}

{% macro uploadLocationInput(name, field, inputSourceOptions) %}
    {% from "_includes/forms" import select, text %}
    <div class="flex">
        <div>
            {{ select({
                id: name~'Source',
                name: name~'Source',
                options: inputSourceOptions,
                value: field[name~'Source'],
            }) }}
        </div>
        <div class="flex-grow">
            {{ text({
                id: name~'Subpath',
                class: 'ltr',
                name: name~'Subpath',
                value: field[name~'Subpath'],
                placeholder: "path/to/subfolder"|t('app')
            }) }}
        </div>
    </div>
{% endmacro %}

{% from _self import uploadLocationInput %}

{% set uploadLocationNote = "Note that the subfolder path can contain variables like the Form Entry ID <code>{id}</code> or the Form handle <code>{{ object.getForm().handle }}</code>."|t('sprout-forms') %}

{% block fieldSettings %}
    {# The File Upload field removes several settings that appear in the Assets field settings because the front-end use cases is more restrictive in how people can use and access the field. Settings removed include:
     - Restrict uploads to a single folder? - all File Upload fields use a single folder
     - Show unpermitted volumes - does not apply to front-end users
     - Show unpermitted files - does not apply to front-end users
     - validateRelatedElementsField - does not apply to front-end users
     - advancedSettings - reconsider when adding more comprehensive support for multi-site
    #}
    <div id="multi-folder-settings"{% if field.useSingleFolder %} class="hidden"{% endif %}>
        {{ block('sourcesField') }}

        {{ forms.field({
            label: "Default Upload Location"|t('app'),
            instructions: "Where should files be uploaded when they are dragged directly onto the field, or uploaded from the front end?"|t('app') ~' '~ uploadLocationNote,
            errors: field.getErrors('defaultUploadLocationSubpath')
        }, uploadLocationInput('defaultUploadLocation', field, sourceOptions)) }}
    </div>

    <div id="single-folder-settings"{% if not field.useSingleFolder %} class="hidden"{% endif %}>
        {{ forms.field({
            label: "Upload Location"|t('app'),
            instructions: uploadLocationNote,
            errors: field.getErrors('singleUploadLocationSubpath')
        }, uploadLocationInput('singleUploadLocation', field, sourceOptions)) }}
    </div>

    {{ forms.checkboxField({
        label: "Restrict allowed file types?"|t('app'),
        class: 'restrictFiles',
        id: 'restrictFiles',
        name: 'restrictFiles',
        value: 1,
        checked: field.restrictFiles,
        toggle: 'restrict-allowed-types'
    }) }}

    <div id="restrict-allowed-types"{% if not field.restrictFiles %} class="hidden indent"{% endif %}>
        {% for option in fileKindOptions %}
            {{ forms.checkboxField({
                label: option.label,
                id: 'allowedKinds-'~option.value,
                name: 'allowedKinds[]',
                value: option.value,
                checked: (option.value in field.allowedKinds)
            }) }}
        {% endfor %}
        {{ forms.errorList(field.getErrors('allowedKinds')) }}
    </div>

    {{ block('limitField') }}
    {#    {{ block('viewModeField') }}#}
    {{ block('selectionLabelField') }}
{% endblock %}