<div class="sproutformsaddress-text-field sproutformsaddress-{{ inputName }} {{ name }}-text-field {% if class is defined %}{{ class }}{% endif %}">
    <div class="sproutformsaddress-{{ inputName }}-heading">
        <label>{{ label }}</label>
    </div>
    <div class="sproutformsaddress-{{ inputName }}-input">
        <input type="text" name="{{ name }}[{{ inputName }}]" value="{{ value }}" />
    </div>
</div>
