{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set value = value ? value : null %}
{%- set errors = entry is not empty ? entry.getErrors(name) : null %}
{%- set errorClass = renderingOptions.errorClass ?? null %}
{%- set class = errors and errorClass ? class~' '~errorClass : class %}

{%- set options = options ? options : [] %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{%- endfor -%}

{% spaceless %}
    <select
        {%- if name %} name="{{ name }}"{% endif %}
        {%- if id %} id="{{ id }}"{% endif %}
        {%- if class %} class="{{ class }}"{% endif %}
        {%- if required %} required aria-required="true"{% endif %}
        {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
        {{- dataAttributes|raw -}}>

        {%- for key, option in options -%}

            {%- set optionLabel = option.label is defined ? option.label : null -%}
            {%- set optionValue = option.value is defined ? option.value : key -%}

            {% if value != "" %}
                {% set selected = (option.selected == 1) ? true : false %}
            {% else %}
                {% set selected = (option.default is defined and option.default == 1) ? true : false %}
            {% endif %}

            <option value="{{ optionValue }}"
                {% if selected %}selected{% endif %}>{{ optionLabel }}</option>
        {% endfor %}
    </select>
{% endspaceless %}