{% macro tab(tab, tabFields, isHidden) %}
    {% import _self as formBuilder %}

    <div id="sproutforms-tab-{{ tab.id }}" data-tabname="{{ tab.name }}" data-tabid="{{ tab.id }}" class="sproutforms-tab-fields {% if isHidden %} hidden {% endif %}">
        <div id="sproutforms-tab-container-{{ tab.id }}" class="sprout-tab-container">
            {%- for field in tabFields %}
                {{- formBuilder.field(field, 'active', tab) -}}
            {% endfor -%}
        </div>
    </div>
{% endmacro %}

{#
field    = field object
instance = source or active
tab      = tab or null
#}
{% macro field(field, instance = 'active', tab = null, loopIndex = null) %}
    {% set evenOddClass = loopIndex is odd ? 'odd' : 'even' %}
    <div
        {% if instance == 'active' %}id="sproutfield-{{ field.id }}"{% endif %}
        class="{%- if instance == 'active' %}target-field{% endif -%}{%- if instance == 'source' %}source-field{% endif %} {{ evenOddClass }}"
        data-type="{{ craft.sproutForms.getFieldClassName(field) }}"
        data-defaultname="{{ field.displayName }}"
    >

        {% if instance == 'source' %}
            <div class="source-field-header{% if field.required %} required{% endif %}">
                <h3>
                    <span class="sproutforms-icon">{{ svg(field.getSvgIconPath()) }}</span>
                    <span class="sproutforms-sourcefield-name">{{ field.displayName() }}</span>
                </h3>
            </div>
        {% endif %}

        {# This is built dynamically in js when creating new field from source #}
        {% if instance == 'active' %}
            <div class="active-field-header">
                <h2 class="{% if field.required %}required{% endif %}">
                    {{ field.name }}
                </h2>
                <code class="light">{{ "{" ~ field.handle ~ "}" }}</code>
                {% if field.instructions %}
                    <p>{{ field.instructions }}</p>
                {% endif %}
            </div>
        {% endif %}

        <div class="body{% if instance == 'source' %} hidden{% endif %}">
            {% if craft.sproutForms.validateField(field) %}
                {{ field.getExampleInputHtml()|raw }}
            {% else %}
                <div class="missing-component pane">
                    <p class="error">
                        Unable to find component
                        class {{ craft.sproutForms.getFieldClass(field) }}
                    </p>
                </div>
            {% endif %}
        </div>

        {# This is built dynamically in js when creating new field from source #}
        {% if instance == 'active' %}
            {% if craft.sproutForms.validateField(field) %}
                <ul class="settings">
                    <li>
                        <a id="sproutform-field-{{ field.id }}" data-fieldid="{{ field.id }}" href="#" tabindex="0"><i class="fa fa-pencil fa-2x" title="Edit"></i></a>
                    </li>
                </ul>
            {% endif %}
        {% endif %}

        {# Manage hidden input fields #}
        {% if instance == 'active' %}
            {# todo - why are we using tabName and not tabId? #}
            <input type="hidden" name="fieldLayout[{{ tab.name }}][]" value="{{ field.id }}" class="id-input">

            {% if field.required %}
                <input type="hidden" name="requiredFields[]" value="{{ field.id }}" class="sproutforms-required-input">
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}
