{%- set entry = object -%}
{%- set form = entry.getForm() ?? null -%}

<!doctype html>
<html lang="{{ craft.app.language }}">
<head>
    <title>{{ siteName }}</title>
</head>
<body>
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td style="width:600px;">

                        {% if email.defaultBody|length %}
                            <table>
                                <tr>
                                    <td style="width:600px;">

                                        <p>{{ email.defaultBody|markdown }}</p>

                                    </td>
                                </tr>
                            </table>
                        {% endif %}

                        <table>
                            <tr>
                                <td style="border-top:1px solid #eee;border-bottom:1px solid #eee;background-color:#fefefe;width:600px;">

                                    {% if entry %}

                                        {% set tabs = entry.getFieldLayout().getTabs() %}

                                        {% for tab in tabs %}
                                            <table>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            <em>{{ "Form submission received from:"|t('site') }} {{ siteName }}</em>
                                                        </p>

                                                        <p>
                                                            <span style="text-transform: uppercase;"><strong>{{ form.name }}</strong></span>
                                                        </p>

                                                        {% set fields = tab.getFields() %}

                                                        {# Loop through all of our fields except ones that don't get wrapped
                                                           in HTML on the front-end and probably are never seen by the person
                                                           submitting the form #}
                                                        {% for field in fields if not field.isPlainInput() and not entry.getIsFieldHiddenByRule(field.handle) %}

                                                            {% set value = attribute(entry, field.handle) %}

                                                            {% if loop.first and tabs|length > 1 %}
                                                                <p>
                                                                    <strong>{{ tab.name }}</strong>
                                                                </p>
                                                            {% endif %}

                                                            {% if field.getFieldInputFolder() == 'optin' %}
                                                                <strong>{{ field.optInMessage|markdown('original', true)|striptags }}</strong>
                                                                <br/>
                                                            {% else %}
                                                                <strong>{{ field.name }}</strong>
                                                                <br/>
                                                            {% endif %}

                                                            {% if field.getFieldInputFolder() == 'address' and value.address1 is defined and value.address1 %}

                                                                {% if value.address1 is defined and value.address1 %}
                                                                    {{ value.address1 }}
                                                                    <br>
                                                                {% endif %}
                                                                {% if value.address2 is defined and value.address2 %}
                                                                    {{ value.address2 }}
                                                                    <br>
                                                                {% endif %}
                                                                {% if value.administrativeArea is defined and value.administrativeArea %}
                                                                    {{ value.administrativeArea }}
                                                                    <br>
                                                                {% endif %}
                                                                {% if value.locality is defined and value.locality %}
                                                                    {{ value.locality }}
                                                                    <br>
                                                                {% endif %}
                                                                {% if value.dependentLocality is defined and value.dependentLocality %}
                                                                    {{ value.dependentLocality }}
                                                                    <br>
                                                                {% endif %}
                                                                {% if value.postalCode is defined and value.postalCode %}
                                                                    {{ value.postalCode }}
                                                                    <br>
                                                                {% endif %}
                                                                {% if value.sortingCode is defined and value.sortingCode %}
                                                                    {{ value.sortingCode }}
                                                                    <br>
                                                                {% endif %}
                                                                {% if value.country is defined and value.country %}
                                                                    {{ value.country }}
                                                                    <br>
                                                                {% endif %}

                                                            {% elseif field.getFieldInputFolder() == 'date' %}

                                                                {{ value|date('Y-m-d h:i:s A') }}
                                                                <br>

                                                            {% elseif field.getFieldInputFolder() == 'name' and value.getFullNameExtended() != '' %}

                                                                {{ value.getFullNameExtended() }}
                                                                <br>

                                                            {% elseif field.getFieldInputFolder() == 'phone' and value.phone != '' %}

                                                                {{ value.international }}
                                                                <br>

                                                            {% elseif field.getFieldInputFolder() == 'optin' %}

                                                                {{ value ? field.optInValueWhenTrue : field.optInValueWhenFalse }}
                                                                <br>

                                                            {% elseif value is not iterable and value is not empty %}

                                                                {{ value|striptags|nl2br }}
                                                                <br>

                                                            {% elseif value is iterable and field.getFieldInputFolder() != 'address' and field.getFieldInputFolder() != 'name' and field.getFieldInputFolder() != 'phone' %}

                                                                {% if value|length %}
                                                                    <ul style="margin-left:10px;padding-left:10px;">
                                                                        {% set values = attribute(value, "all") is defined ? value.all() : value %}
                                                                        {% for item in values %}
                                                                            {% if item is not empty %}
                                                                                <li>{{ item|striptags }}</li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% else %}
                                                                    <em>{{ "No response"|t('site') }}</em>
                                                                    <br>
                                                                {% endif %}

                                                            {% else %}

                                                                <em>{{ "No response"|t('site') }}</em>
                                                                <br>

                                                            {% endif %}

                                                            <br>
                                                        {% endfor %}

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td {% if not loop.last %}style="border-top:1px solid #eee;background-color:#fefefe;
                                width:600px;"{% endif %}>

                                                    </td>
                                                </tr>
                                            </table>

                                        {% endfor %}

                                    {% else %}
                                        <p>{{ "No Form Entry found." }}</p>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <!-- END TEMPLATE CONTAINER -->

        </td>
    </tr>
</table>
</body>
</html>