{% import "_includes/forms" as forms %}

{{ forms.selectField({
    first: true,
    required: true,
    label: "Entry Type <span class='info'>Create an entry on this section</span>"|t('sprout-forms'),
    id: 'entryTypeId',
    name: 'entryTypeId',
    options: sectionsOptions,
    value: integration.entryTypeId
}) }}

{{ forms.elementSelectField({
    label: "Default Author"|t('sprout-forms'),
    instructions: "This author will be used for new Entries where no author is defined."|t('sprout-forms'),
    id: 'defaultAuthorId',
    name: 'defaultAuthorId',
    required: true,
    elementType: integration.getUserElementType(),
    selectionLabel: "Choose"|t('sprout-forms'),
    limit: 1,
    elements: [integration.getAuthor()]
}) }}

{{ forms.lightswitchField({
    label: "Set Author to Logged in User"|t('sprout-forms'),
    instructions: "Set the author of new Entries to the logged in user. Uses the Default Author if no user is logged in."|t('sprout-forms'),
    id: 'setAuthorToLoggedInUser',
    name: 'setAuthorToLoggedInUser',
    toggle: 'settings-save-author',
    on: integration.setAuthorToLoggedInUser,
    onLabel: "Enable"|t('sprout-forms'),
}) }}

{{ forms.editableTableField({
    label: "Field Mapping"|t('sprout-forms'),
    id: 'fieldMapping',
    name: 'fieldMapping',
    minRows: integration.fieldMapping|length,
    maxRows: integration.fieldMapping|length,
    cols: {
        sourceFormField: {
            type: 'singleline',
            heading: "Form Field"|t('sprout-forms'),
            class: 'formField',
        },
        targetIntegrationField: {
            type: 'select',
            heading: "Entry Field"|t('sprout-forms'),
            placeholder: "Leave blank and no data will be mapped"|t('sprout-forms'),
            class: 'targetFields',
            options: []
        }
    },
    rows: integration.fieldMapping,
    errors: []|unique
}) }}

{% js on ready %}
    new SproutFormsIntegration({
    integrationType: "{{ className(integration)|e('js') }}",
    updateTargetFieldsOnChange: [
    '#settings-barrelstrength-sproutforms-integrationtypes-EntryElementIntegration-entryTypeId'
    ]
    });
{% endjs %}