{% extends "sprout-forms/_layouts/base" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set title  = "Settings"|t('sprout-forms') %}
{% set bodyClass = craft.app.request.getSegments()|slice(0, 4)|join(' ') %}
{% set fullPageForm = true %}

{% set selectedSubnavItem = craft.app.request.getSegment(2) %}
{% set selectedSidebarItem = craft.app.request.getSegment(6) %}
{% set baseUrl = 'sprout-forms/forms/edit/'~form.id~'/settings/' %}

{% set crumbs = [
    { label: "Forms"|t('sprout-forms'), url: cpUrl('sprout-forms/forms') },
    { label: form.name, url: form.getCpEditUrl() }
] %}

{% block actionButton %}
    <div class="buttons">
        <div id="save-form-button" class="btngroup submit first">
            <input type="submit" class="btn submit"
                value="{{ 'Save'|t('sprout-forms') }}">
            {% if form.id != null %}
                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <ul>
                        <li><a class="formsubmit"
                                data-redirect="{{ ('sprout-forms/forms/edit/'~form.id)|hash }}">{{ 'Save and continue editing'|t('sprout-forms') }}
                                <span class="shortcut">⌘S</span></a></li>
                    </ul>
                    <hr>
                    <ul>
                        <li><a class="formsubmit error"
                                data-action="sprout-forms/forms/delete-form"
                                data-confirm="{{ 'Are you sure you want to delete this form?'|t('sprout-forms') }}"
                                data-redirect="{{ 'sprout-forms/forms'|hash }}">{{ "Delete"|t('sprout-forms') }}</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        {% if not isPro %}
            {{ sprout.upgradeToProButton({
                url: cpUrl('sprout-forms/upgrade'),
                title: "Upgrade to Sprout Forms PRO to manage Unlimited Forms"|t('sprout-forms')
            }) }}
        {% endif %}
    </div>
{% endblock %}

{% set sidebar %}

    <nav class="last">
        <ul>
            <li><a href="{{ cpUrl(baseUrl~'general') }}"
                    {% if selectedSidebarItem == 'general' %}class="sel"{% endif %}>{{ "General"|t('sprout-forms') }}</a>
                {#            </li>#}
                {#            <li><a href="{{ cpUrl(baseUrl~'notifications') }}"#}
                {#                    {% if selectedSidebarItem == 'notifications' %}class="sel"{% endif %}>{{ "Notifications"|t('sprout-forms') }}</a>#}
            </li>
            <li><a href="{{ cpUrl(baseUrl~'templates') }}"
                    {% if selectedSidebarItem == 'templates' %}class="sel"{% endif %}>{{ "Templates"|t('sprout-forms') }}</a>
            </li>
            <li><a href="{{ cpUrl(baseUrl~'rules') }}"
                    {% if selectedSidebarItem == 'rules' %}class="sel"{% endif %}>{{ "Rules"|t('sprout-forms') }}</a>
            </li>
            <li><a href="{{ cpUrl(baseUrl~'integrations') }}"
                    {% if selectedSidebarItem == 'integrations' %}class="sel"{% endif %}>{{ "Integrations"|t('sprout-forms') }}</a>
            </li>
        </ul>
    </nav>

{% endset %}

{% do view.registerAssetBundle("barrelstrength\\sproutforms\\web\\assets\\cp\\CpAsset") %}
{% do view.registerJs("new Craft.SproutForms.FormSettings();") %}