{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("barrelstrength\\sproutforms\\web\\assets\\cp\\CpAsset") %}

{% set title  = "Settings"|t('sprout-forms') %}
{% set bodyClass = craft.app.request.getSegments()|slice(0, 3)|join(' ') %}

{% set subnav = {
    entries: {
        label: "Entries"|t('sprout-forms'),
        url: cpUrl('sprout-forms/entries')
    },
    forms: {
        label: "Forms"|t('sprout-forms'),
        url: cpUrl('sprout-forms/forms')
    }
} %}

{% if currentUser.admin %}
    {% set subnav = subnav|merge({
        settings: {
            label: "Settings"|t('sprout-forms'),
            url: cpUrl('sprout-forms/settings/general')
        }
    }) %}
{% endif %}

{% set selectedSubnavItem = craft.app.request.getSegment(2) %}
{% set selectedSidebarItem = craft.app.request.getSegment(3) %}

{% set sidebar %}

    <nav class="last">
        <ul>
            <li><a href="{{ cpUrl('sprout-forms/settings/general') }}"
                    {% if selectedSidebarItem == 'general' %}class="sel"{% endif %}>{{ "General"|t('sprout-forms') }}</a>
            </li>

            <li><a href="{{ url('sprout-forms/settings/entrystatuses') }}"
                    {% if selectedSidebarItem == 'entrystatuses' %}class="sel"{% endif %}>{{ "Entry Statuses"|t('sprout-forms') }}</a>
            </li>

            <li><a href="{{ url('sprout-forms/settings/advanced') }}"
                    {% if selectedSidebarItem == 'advanced' %}class="sel"{% endif %}>{{ "Advanced"|t('sprout-forms') }}</a>
            </li>

            <li class="heading"><span>Examples</span></li>

            <li><a href="{{ cpUrl('sprout-forms/settings/examples') }}"
                    {% if selectedSidebarItem == 'examples' %}class="sel"{% endif %}>{{ "Form
                    Templates"|t('sprout-forms') }}</a>
            </li>
        </ul>
    </nav>

{% endset %}