{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set label = field.optInMessage -%}
{%- set selectedByDefault = field.selectedByDefault ?? null %}
{%- set errors = entry is not empty ? entry.getErrors(name) : null %}
{%- set errorClass = renderingOptions.errorClass ?? null %}
{%- set class = errors and errorClass ? class~' '~errorClass : class %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{% endfor -%}

{% spaceless %}
    {% if name is defined and (name|length < 3 or name|slice(-2) != '[]') %}
        <input type="hidden" aria-hidden="true" name="{{ name }}" value="">
    {% endif %}

    <label {%- if id %} for="{{ id }}"{% endif %}>
        <input type="checkbox"
            value="1"
            {%- if name %} name="{{ name }}"{% endif %}
            {%- if id %} id="{{ id }}"{% endif %}
            {%- if required %} required aria-required="true"{% endif %}
            {%- if selectedByDefault %} checked aria-checked="true"{% else %} aria-checked="false"{% endif %}
            {{- dataAttributes|raw -}}
        >
        {%- if label is defined %} {{ label|markdown('original', true) }}{% endif -%}
    </label>
{% endspaceless %}
