{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set value = value ? value : null %}

{%- set multiple = field.limit == '' ? true : field.limit > 1 ? true : false %}
{%- set selectionLabel = field.selectionLabel != '' ? field.selectionLabel : "Select an user..."|t('site') -%}
{%- set hasTitle = users|length > 1 %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{%- endfor -%}

{% spaceless %}
    <select {%- if name %} name="{{ name }}[]"{% endif %}
            {%- if id %} id="{{ id }}"{% endif %}
            {%- if class %} class="{{ class }}"{% endif %}
            {%- if required %} required aria-required="true"{% endif %}
            {%- if hasInstructions %} aria-describedby="{{ field.getNamespace() }}-{{ id }}-instructions"{% endif %}
            {%- if multiple %} multiple {% endif %}
            {{- dataAttributes|raw -}}
    >
        {%- if not multiple -%}
            <option value="" disabled selected>{{ selectionLabel }}</option>
        {%- endif -%}
        {%- for options in users -%}
            {% if hasTitle %}
                {% set label = options.group == 'admin' ? 'Admins'|t('site') : options.group.name %}
                <optgroup label="{{ label }}">
            {% endif %}
            {%- for option in options.users -%}
                {%- set optionLabel = option.username -%}
                {%- set optionValue =  option.id -%}

                <option value="{{ optionValue }}"
                        {% if optionValue == value %}selected{% endif %}>{{ optionLabel }}</option>

            {% endfor %}
            {% if hasTitle %}
                </optgroup>
            {% endif %}
        {% endfor %}
    </select>
{% endspaceless %}