{% extends "sprout-forms/_layouts/formsettings" %}
{% import "_includes/forms" as forms %}

{% set content %}

    {% set integrationOptions = craft.sproutForms.getIntegrationOptions() %}

    <input id="formId" type="hidden" name="formId" value="{{ form.id }}">

    <div id="sproutforms-integrations-wrapper">

        <table class="data fullwidth" id="sproutforms-integrations-table">
            <thead>
            <th>{{ "Integration Name"|t('sprout-forms') }}</th>
            <th class="thin">{{ "Enabled"|t('sprout-forms') }}</th>
            </thead>
            <tbody>
            {% if integrations|length %}
                {% for integration in integrations %}
                    <tr class="field sproutforms-integration-row" id="sproutforms-integration-row-{{ integration.id }}">
                        <td class="heading">
                            <a href="#" id="sproutform-integration-{{ integration.id }}" data-integrationid="{{ integration.id }}">{{ integration.name }}</a>
                        </td>
                        <td>
                            {{ forms.lightswitch({
                                on: integration.enabled,
                                small: true,
                                id: "integration-enabled-"~integration.id,
                                onLabel: "Show"|t('sprout-forms'),
                                offLabel: "Hide"|t('sprout-forms')
                            }) }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">{{ "Add an integration using the dropdown below."|t('sprout-forms') }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        <div id="sproutforms-integrations-create" class="field" style="padding-top:20px;">
            {{ forms.select({
                id: 'integrationsOptions',
                name: 'integrationsOptions',
                options: integrationOptions
            }) }}
        </div>
    </div>

{% endset %}

