{% import "_includes/forms" as forms %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set dateRange = options.dateRange is defined ? options.dateRange : 'customRange' %}

{% if formOptions|length %}

    {{ forms.selectField({
        label: "Forms"|t('sprout-forms'),
        instructions: 'Select which forms to search'|t('sprout-forms'),
        name: 'settings[formId]',
        options: formOptions,
        value: (options.formId is defined ? options.formId : '*'),
        first: true
    }) }}

    {{ forms.selectField({
        id: "dateRange",
        name: "settings[dateRange]",
        label: "Date Range"|t('sprout-forms'),
        instructions: "Select the date range for your report. Predefined options like 'Last Month' will always be determined based on when the report is run."|t('sprout-forms'),
        options: dateRanges,
        value: dateRange,
        toggle: true,
        targetPrefix: 'sprout-date-range-'
    }) }}

    <div id="sprout-date-range-customRange" class="field{% if dateRange != 'customRange' %} hidden{% endif %}">
        {{ forms.dateTimeField({
            label: "Start Date"|t('sprout-forms'),
            id: 'startDate',
            name: 'settings[startDate]',
            value: (options.startDate is defined ? options.startDate : defaultStartDate)
        }) }}

        {{ forms.dateTimeField({
            label: "End Date"|t('sprout-forms'),
            id: 'endDate',
            name: 'settings[endDate]',
            value: (options.endDate is defined ? options.endDate : defaultEndDate)
        }) }}
    </div>
{% else %}

    {% set boxBody %}
        <p>{{ "Create your first form and return to customize this report. Once you create a form, you'll be able to select this report's form and data range."|t('sprout-forms')|raw }}</p>
    {% endset %}

    {{ sprout.mediaBox({
        heading: "One more step"|t('sprout-forms'),
        body: boxBody,
        resourcePath: '@sproutbase/web/assets/sproutreports/dist/images/icon.svg'
    }) }}

{% endif %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbasereports\\web\\assets\\reports\\SproutReportsAsset") %}