{%- set value = value ? value : null -%}

{% if hideDropdown is defined and hideDropdown %}

    <input type="hidden" name="{{ name ~ '[' ~ inputName ~ ']' }}" value="{{ value }}"/>

{% else %}

    <div id="{{ name }}-{{ inputName|lower }}-field" class="field select {{ name }}-{{ inputName|lower }}-field{%- if class is defined %} {{ class }}{% endif %}">

        <div class="heading">
            <label for="{{ name }}-{{ inputName|lower }}">{{ label }}</label>
        </div>
        <div class="input">
            <select
                id="{{ name }}-{{ inputName|lower }}"
                {%- if fieldClass is defined %} class="{{ fieldClass }}"{% endif -%}
                {%- if name %} name="{{ name ~ '[' ~ inputName ~ ']' }}"{% endif -%}
                {%- if autocomplete is defined %} autocomplete="{{ autocomplete }}"{% endif -%}>

                <option disabled>{{ "Select..."|t('site') }}</option>

                {% if highlightCountries is not empty %}
                    {%- for key, option in highlightCountries -%}
                        {%- set optionLabel = option -%}
                        {%- set optionValue = key -%}

                        <option value="{{ optionValue }}"
                            {% if optionValue == value %}selected{% endif %}>
                            {{ optionLabel }}
                        </option>
                    {% endfor %}
                    <option disabled>--</option>
                {% endif %}

                {%- for key, option in options -%}
                    {%- set optionLabel = option -%}
                    {%- set optionValue = key -%}

                    <option value="{{ optionValue }}" {% if optionValue == value %}selected{% endif %}>
                        {{ optionLabel }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}
