{% import "_includes/forms" as forms %}

{% set conditionRules = conditional.getConditionRules() %}

{% set cols = [
    {
        type: 'select',
        options: conditional.getFormFieldsAsOptions(true)
    },
    {
        type: 'selectCondition',
        options: []
    },
    {
        type: 'textual'
    }
] %}

{% for rule in conditional.conditionalRules %}
    {% set mainIndex = loop.index0 %}
    <table id="sproutforms-rules-{{ mainIndex }}" class="data fullwidth rules-table">
        <thead>
        <tr>
            <th>{{ "Field"|t('sprout-forms') }}</th>
            <th>{{ "Conditional"|t('sprout-forms') }}</th>
            <th>{{ "Value"|t('sprout-forms') }}</th>
            <th><div class="buttons"><div id="add-rule{{ mainIndex }}" class="btn add icon small" tabindex="0">OR</div></div></th>
        </tr>
        </thead>
        <tbody>
            {% for rows in rule.rules %}
             {% set secondIndex = loop.index0 %}
            <tr data-id="{{ secondIndex }}">
                {% for row in rows %}
                <td>
                    {% set rowName = 'conditionalRules[' ~ mainIndex ~ '][rules][' ~ secondIndex ~ '][' ~ loop.index0 ~ ']' %}

                    {% set formFieldClass = "" %}
                    {% set conditionClass = "" %}
                    {% if loop.index0 == 0 %}
                        {% set formFieldClass = row %}
                        {{ forms.select({
                            name: rowName,
                            hasOptgroups: true,
                            options: conditional.getFormFieldsAsOptions(true),
                            value: row
                        }) }}
                    {% elseif loop.index0 == 1 %}
                        {% set formField = craft.sproutForms.getFormField(formFieldClass) %}
                        {% set rulesAsOptions = formField.getCompatibleConditional().getRulesAsOptions() %}
                        {{ forms.select({
                            name: rowName,
                            hasOptgroups: true,
                            options: rulesAsOptions,
                            value: row
                        }) }}
                        {% set conditionClass = row != '' ? row : rulesAsOptions[0].value %}
                    {% else %}
                        {% set fieldCondition = craft.sproutForms.getFieldCondition(conditionClass, formField) %}
                        {{ fieldCondition.getTextInputHtml() }}
                    {% endif %}
                </td>
                {% endfor %}

                <td class="thin action"><a class="move icon"
                                           title="Reorder"></a></td>
                <td class="thin action"><a class="delete icon"
                                           title="Delete"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<div class="buttons fullwidth" id="and-add-wrapper">
    <div id="add-and-rules" class="btn add icon small" tabindex="0"> AND
    </div>
</div>

<script>
    $( document ).ready(function() {
        var addTableButton = $("#settings-barrelstrength-sproutforms-rules-FieldRule-add-and-rules");
        var rules = {{ conditional.conditionalRules|json_encode|raw }};
        var namespace = "settings[{{ className(conditional)|e('js') }}]";

        if (rules == null)
        {
            addTableButton.trigger('click');
        }

        addTableButton.click(function() {
            addTable();
        });

        var columns = {{ cols|json_encode|raw }};
        var conditionalTypes = {{ conditionRules|json_encode|raw }};
        var settings = {};

        function addTable(){
            var tables = $(".rules-table");
            var currentIndex = tables.length ? tables.length : 0;
            var nextIndex = currentIndex + 1;
            var tableId = 'sproutforms-rules-'+nextIndex;
            var baseName = namespace+'[conditionalRules]['+nextIndex+'][rules]';

            $("#settings-barrelstrength-sproutforms-rules-FieldRule-and-add-wrapper").before('<table id="'+tableId+'" class="data rules-table fullwidth">' +
                '<thead><tr>' +
                '<th>Form Field</th>' +
                '<th>Condition</th>' +
                '<th>Value</th>' +
                '<th><div class="buttons"><div id="add-rule'+nextIndex+'" class="btn add icon small" tabindex="0">OR</div></div></th>' +
                '<tbody>' +
                '</tbody>' +
                '</table>');

            new Craft.SproutForms.EditableTable(tableId, baseName, columns, settings, conditionalTypes);

            $('#add-rule'+nextIndex).trigger('click');
        }

        $('.rules-table').each(function(index) {
            var tableId = this.id;
            var baseName = namespace+'[conditionalRules]['+index+'][rules]';
            new Craft.SproutForms.EditableTable(tableId, baseName, columns, settings, conditionalTypes);
        });
    });

</script>

