{% set cols = [
    {
        type: 'textual'
    },
    {
        type: 'textual'
    },
    {
        type: 'textual'
    }
] %}

{% for rule in conditional.rules %}
    <table id="sproutforms-rules-{{ loop.index }}" class="data fullwidth">
        <thead>
        <tr>
            <th>{{ "Field"|t }}</th>
            <th>{{ "Rule"|t }}</th>
            <th>{{ "value"|t }}</th>
            <th class="thin"></th>
            <th class="thin"></th>
        </tr>
        </thead>
        <tbody>
            {% for row in rule.rows %}
            <tr data-id="{{ loop.index }}">
                <td>
                    <select id="rules[field]" name="rules[field][{{ loop.index }}]" disabled="">
                        <optgroup label="Standard Rules">
                            <option value="" selected="">None</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    {{ forms.text({
                        name: 'rules[value][' ~ loop.index ~ ']',
                        value: row.value,
                        errors: ''
                    }) }}
                </td>
                <td class="thin action">
                    <div class="buttons">
                        <div id="add-rule-{{ loop.index }}" class="btn add icon small" tabindex="0"> +Add
                        </div>
                    </div></td>
                <td class="thin action"><a class="delete icon"
                                           title="Delete"></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endfor %}

<div class="buttons fullwidth" id="and-add-wrapper">
    <div id="add-and-rules" class="btn add icon small" tabindex="0"> AND
    </div>
</div>

<script>
    $( document ).ready(function() {
        var addTableButton = $("#settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-add-and-rules");
        var rules = {{ conditional.rules|json_encode|raw }};

        if (rules == null)
        {
            addTableButton.trigger('click');
        }

        addTableButton.click(function() {
            addTable();
        });


        var tableId = 'sproutseo-schema-contacts';
        var baseName = 'sproutseo[globals][contacts]';
        var columns = {{ cols|json_encode|raw }};
        var settings = {};

        //new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);
        function addTable(){
            var currentIndex = rules != null ? rules.length() : 0;
            var nextIndex = currentIndex + 1;

            $("#settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-and-add-wrapper").before('<table id="sproutforms-rules-'+nextIndex+'" class="data fullwidth">' +
                '<thead><tr>' +
                '<th>Form Field</th>' +
                '<th>Rule</th>' +
                '<th>Value</th>' +
                '<th>Value</th>' +
                '<th><div class="buttons"><div id="add-rule'+nextIndex+'" class="btn add icon small" tabindex="0">OR</div></div></th>' +
                '<tbody>' +
                '</tbody>' +
                '</table>');
        }
    });

</script>

