{# Empty for now #}


{% for rule in conditional.rules %}
    <table id="sproutforms-rules-{{ loop.index }}" class="data fullwidth">
        <thead>
        <tr>
            <th>{{ "Field"|t }}</th>
            <th>{{ "Rule"|t }}</th>
            <th>{{ "value"|t }}</th>
            <th class="thin"></th>
            <th class="thin"></th>
        </tr>
        </thead>
        <tbody>
            {% for row in rule.rows %}
            <tr data-id="{{ loop.index }}">
                <td>
                    <select id="rules[field]" name="rules[field][{{ loop.index }}]" disabled="">
                        <optgroup label="Standard Rules">
                            <option value="" selected="">None</option>
                        </optgroup>
                    </select>
                </td>
                <td>
                    {{ forms.text({
                        name: 'rules[value][' ~ loop.index ~ ']',
                        value: row.value,
                        errors: ''
                    }) }}
                </td>
                <td class="thin action">
                    <div class="buttons">
                        <div id="add-rule-{{ loop.index }}" class="btn add icon small" tabindex="0"> +Add
                        </div>
                    </div></td>
                <td class="thin action"><a class="delete icon"
                                           title="Delete"></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endfor %}

<div class="buttons">
    <div id="add-and-rules" class="btn add icon small" tabindex="0"> AND
    </div>
</div>

<script>
    $( document ).ready(function() {
        var addTableButton = $("#add-and-rules");
        var rules = {{ conditional.rules|json_encode|raw }};

        if (rules == null)
        {
            addTableButton.trigger('click');
        }


        var tableId = 'sproutseo-schema-contacts';
        var baseName = 'sproutseo[globals][contacts]';
        var columns = {{ cols|json_encode|raw }};
        var settings = {};

        //new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);
        function addTable(){
            var currentIndex = rules.length();
            var nextIndex = currentIndex + 1;

            addTableButton.before('<table id="sproutforms-rules-'+nextIndex+'" class="data fullwidth">' +
                '<div class="heading">' +
                '<a href="#" id ="sproutform-conditional-' + conditional.id + '" data-conditionalid="' + conditional.id + '">' + conditional.name + '</a>' +
                '</div>' +
                '<div>' +
                '<div class="lightswitch small" tabindex="0" data-value="1" role="checkbox" aria-checked="false" id ="conditional-enabled-' + conditional.id + '">' +
                '<div class="lightswitch-container">' +
                '<div class="label on"></div>' +
                '<div class="handle"></div>' +
                '<div class="label off"></div>' +
                '</div>' +
                '<input type="hidden" name="" value="">' +
                '</div>' +
                '</div>' +
                '</div>');
        }
    });

</script>

