{% import "_includes/forms" as forms %}
{% set cols = [
    {
        type: 'select',
        options: conditional.getFormFieldsAsOptions()
    },
    {
        type: 'textual'
    },
    {
        type: 'textual'
    }
] %}

{% for rule in conditional.conditionalRules %}
    {% set mainIndex = loop.index %}
    <table id="sproutforms-rules-{{ loop.index }}" class="data rules-table fullwidth">
        <thead>
        <tr>
            <th>{{ "Field"|t }}</th>
            <th>{{ "Rule"|t }}</th>
            <th>{{ "value"|t }}</th>
            <th><div class="buttons"><div id="add-rule{{ mainIndex }}" class="btn add icon small" tabindex="0">OR</div></div></th>
        </tr>
        </thead>
        <tbody>
            {% for rows in rule.rules %}
             {% set secondIndex = loop.index %}
            <tr data-id="{{ mainIndex }}-{{ secondIndex }}">
                {% for row in rows %}
                <td>
                    {% set rowName = 'conditionalRules[' ~ mainIndex ~ '][rules][' ~ secondIndex ~ '][' ~ loop.index ~ ']' %}
                    {% if loop.index == 1 %}
                        {{ forms.select({
                            name: rowName,
                            hasOptgroups: true,
                            options: conditional.getFormFieldsAsOptions(),
                            value: row
                        }) }}
                    {% else %}
                        {{ forms.text({
                            name: rowName,
                            value: row,
                            errors: ''
                        }) }}
                    {% endif %}
                </td>
                {% endfor %}

                <td class="thin action"><a class="move icon"
                                           title="Reorder"></a></td>
                <td class="thin action"><a class="delete icon"
                                           title="Delete"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<div class="buttons fullwidth" id="and-add-wrapper">
    <div id="add-and-rules" class="btn add icon small" tabindex="0"> AND
    </div>
</div>

<script>
    $( document ).ready(function() {
        var addTableButton = $("#settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-add-and-rules");
        var rules = {{ conditional.conditionalRules|json_encode|raw }};
        var namespace = "settings[{{ className(conditional)|e('js') }}]";

        if (rules == null)
        {
            addTableButton.trigger('click');
        }

        addTableButton.click(function() {
            addTable();
        });

        var columns = {{ cols|json_encode|raw }};
        var settings = {};

        function addTable(){
            var tables = $(".rules-table");
            var currentIndex = tables.length ? tables.length : 0;
            var nextIndex = currentIndex + 1;
            var tableId = 'sproutforms-rules-'+nextIndex;
            var baseName = namespace+'[conditionalRules]['+nextIndex+'][rules]';

            $("#settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-and-add-wrapper").before('<table id="'+tableId+'" class="data rules-table fullwidth">' +
                '<thead><tr>' +
                '<th>Form Field</th>' +
                '<th>Rule</th>' +
                '<th>Value</th>' +
                '<th><div class="buttons"><div id="add-rule'+nextIndex+'" class="btn add icon small" tabindex="0">OR</div></div></th>' +
                '<tbody>' +
                '</tbody>' +
                '</table>');

            new Craft.SproutForms.EditableTable(tableId, baseName, columns, settings);

            $('#add-rule'+nextIndex).trigger('click');
        }

        $('.rules-table').each(function(index) {
            var tableId = this.id;
            var baseName = namespace+'[conditionalRules]['+index+'][rules]';
            new Craft.SproutForms.EditableTable(tableId, baseName, columns, settings);
        });
    });

</script>

