{% import "_includes/forms" as forms %}
{% set cols = [
    {
        type: 'textual'
    },
    {
        type: 'textual'
    },
    {
        type: 'textual'
    }
] %}

{% for rule in conditional.rules %}
    {% set mainIndex = loop.index %}
    <table id="sproutforms-rules-{{ loop.index }}" class="data rules-table fullwidth">
        <thead>
        <tr>
            <th>{{ "Field"|t }}</th>
            <th>{{ "Rule"|t }}</th>
            <th>{{ "value"|t }}</th>
            <th><div class="buttons"><div id="add-rule{{ mainIndex }}" class="btn add icon small" tabindex="0">OR</div></div></th>
        </tr>
        </thead>
        <tbody>
            {% for rows in rule.rules %}

            <tr data-id="{{ mainIndex }}-{{ loop.index }}">
                {% for row in rows %}
                <td>
                    {{ forms.text({
                        name: 'sproutformsrules[' ~ mainIndex ~ '][rules][' ~ loop.index ~ ']',
                        value: row,
                        errors: ''
                    }) }}
                </td>
                {% endfor %}

                <td class="thin action"><a class="move icon"
                                           title="Reorder"></a></td>
                <td class="thin action"><a class="delete icon"
                                           title="Delete"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

<div class="buttons fullwidth" id="and-add-wrapper">
    <div id="add-and-rules" class="btn add icon small" tabindex="0"> AND
    </div>
</div>
<hr>
<div class="field" id="settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-type-field">
    <div class="heading">
        <label id="settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-type-label" for="settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-type">{{ "Behavior"|t('sprout-forms') }}</label>
        <div class="instructions"><p>{{ "When the rules are met, this behavior will happen"|t('sprout-forms') }}</p>
        </div>
    </div>
</div>
<table id="sproutforms-behaviors" class="data behavior-table fullwidth">
    <thead>
    <tr>
        <th>{{ forms.select({
                id: 'type',
                name: 'behaviorAction',
                hasOptgroups: true,
                options: conditional.getBehaviorActionsAsOptions(),
                value: conditional.behaviorAction,
                errors: conditional.getErrors('behaviorAction') ?? null
            }) }}</th>
        <th>{{ forms.select({
                id: 'type',
                name: 'behaviorTarget',
                hasOptgroups: true,
                options: conditional.getFormFieldsAsOptions(),
                value: conditional.behaviorTarget,
                errors: conditional.getErrors('behaviorTarget') ?? null
            }) }}</th>
    </tr>
    </thead>
</table>
<hr>
<h1>{{ namespace }}</h1>
<script>
    $( document ).ready(function() {
        var addTableButton = $("#settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-add-and-rules");
        var rules = {{ conditional.rules|json_encode|raw }};

        if (rules == null)
        {
            addTableButton.trigger('click');
        }

        addTableButton.click(function() {
            addTable();
        });


        var tableId = 'sproutseo-schema-contacts';
        var baseName = 'sproutforms[globals][contacts]';
        var columns = {{ cols|json_encode|raw }};
        var settings = {};

        //new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);
        function addTable(){
            var tables = $(".rules-table");
            var currentIndex = tables.length ? tables.length : 0;
            var nextIndex = currentIndex + 1;
            var tableId = 'sproutforms-rules-'+nextIndex;
            var baseName = 'sproutformsrules['+nextIndex+'][rules]';

            $("#settings-barrelstrength-sproutforms-conditionallogictypes-FieldRule-and-add-wrapper").before('<table id="'+tableId+'" class="data rules-table fullwidth">' +
                '<thead><tr>' +
                '<th>Form Field</th>' +
                '<th>Rule</th>' +
                '<th>Value</th>' +
                '<th><div class="buttons"><div id="add-rule'+nextIndex+'" class="btn add icon small" tabindex="0">OR</div></div></th>' +
                '<tbody>' +
                '</tbody>' +
                '</table>');

            new Craft.SproutForms.EditableTable(tableId, baseName, columns, settings);

            $('#add-rule'+nextIndex).trigger('click');
        }

        $('.rules-table').each(function(index) {
            var tableId = this.id;
            console.log(tableId);
            var baseName = 'sproutformsrules['+index+'][rules]';
            new Craft.SproutForms.EditableTable(tableId, baseName, columns, settings);
        });
    });

</script>

