{% import "_includes/forms" as forms %}

<div id="sprout-content">
    {% set integrationTypeGroups = craft.sproutForms.prepareIntegrationTypeSelection() %}

    <input type="hidden" name="formId" value="{{ integration.formId }}">

    {% if integration.id %}
        <input type="hidden" id="integrationId" name="integrationId" value="{{ integration.id }}">
    {% endif %}

    {{ forms.lightswitchField({
        label: "Enabled"|t('sprout-forms'),
        name: 'enabled',
        on: integration.enabled,
        first: true
    }) }}

    {{ forms.textField({
        label: "Integration Name"|t('sprout-forms'),
        id: 'field-name',
        name: 'name',
        value: (integration is defined ? integration.name : null),
        errors: (integration is defined ? integration.getErrors('name') : null),
        required: true,
    }) }}

    {% namespace 'settings['~className(integration)~']' %}
        {{ integration.getSettingsHtml()|raw }}
    {% endnamespace %}

    {{ forms.selectField({
        label: "Integration Type <span class='info'>Create a new integration if you need to update your integration type. This value cannot be changed.</span>"|t('sprout-forms'),
        id: 'type',
        name: 'selectType',
        hasOptgroups: true,
        options: integrationTypeGroups,
        value: integration.type,
        errors: integration.getErrors('type') ?? null,
        disabled: true
    }) }}

    {{ forms.textField({
        id: 'type',
        name: 'type',
        type: 'hidden',
        value: className(integration),
        errors: integration.getErrors('type') ?? null
    }) }}
</div>
