{% import "_includes/forms" as forms %}

{% set selectId = id ~ "-output" %}
{% set selectTextarea = id ~ "-textarea" %}
{% set quillEditor = id ~ "-quill" %}
{% set quillWrapper = id ~ "-quill-wrapper" %}
{% set textareaWrapper = id ~ "-textarea-wrapper" %}
{% set notesIntructions = 'Add your field notes below. Note: The name of your Notes field above will be used as the first line of your notes.'|t('sprout-forms') %}

<div id="{{ name ~ '-quill-wrapper' }}" class="hidden">
    <div class="field">
        <div class="heading">
            <label for="{{ name ~ '-quill' }}">Notes</label>
            <div class="instructions">
                <p>{{ notesIntructions }}</p>
            </div>
        </div>
        <div class="text sproutnotes fullwidth quill-editor" id="{{ name ~ '-quill' }}">{{ field.notes|raw }}</div>
    </div>
</div>

<div id="{{ name ~ '-textarea-wrapper' }}" class="hidden">
    {{ forms.textareaField({
        id:   name ~ "-textarea",
        label: 'Notes'|t('sprout-forms'),
        instructions: notesIntructions,
        name: 'notes',
        class: 'sproutnotes',
        value: field.notes
    }) }}
</div>

{{ forms.selectField({
    id: name ~ "-output",
    name: 'output',
    label: 'Format'|t('sprout-forms'),
    options: outputOptions,
    value: field.output
}) }}

{{ forms.lightswitchField ({
    label: "Hide Field Label"|t('sprout-forms'),
    name: 'hideLabel',
    on: field.hideLabel,
}) }}

<style type="text/css">
    textarea.sproutnotes {
        min-height: 125px;
    }

    .quill-editor {
        height: 120px;
    }
</style>

{% js on ready %}

    var initSelectValue = $("{{ '#' ~ selectId }}").val();
    var textareaInput = $("#{{ selectTextarea }}");
    var $textareaWrapper = $("#{{ textareaWrapper }}");
    var $quillWrapper = $("#{{ quillWrapper }}");

    var quill = new Quill('#{{ quillEditor }}', {
    bounds: ".quill-editor",
    modules: {
    toolbar: [
    ['bold', 'italic', 'link'],
    [{ 'list': 'ordered'}, { 'list': 'bullet' }]
    ]
    },
    theme: 'snow'
    });

    quill.on('text-change', function(delta) {
    textareaInput.val(quill.root.innerHTML);
    });

    if (initSelectValue == "richText") {
    $quillWrapper.removeClass('hidden');
    }
    else{
    $textareaWrapper.removeClass('hidden');
    }

    $("{{ '#' ~ selectId }}").on('change', function() {

    var textareaType = $(this).val();
    var textareaValue = $("#{{ selectTextarea }}").val();

    if (textareaType == "richText") {
    $textareaWrapper.addClass('hidden');
    $quillWrapper.removeClass('hidden');
    }
    else
    {
    if (!$quillWrapper.hasClass('hidden'))
    {
    $quillWrapper.addClass('hidden');
    }

    $textareaWrapper.removeClass('hidden');
    // copy from rich text
    //textareaInput.val(textareaInput.text());
    }
    });

{% endjs %}