{% extends "sprout-forms/_layouts/base" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}

{% set canCreateForm = craft.app.getModule('sprout-forms').app.forms.canCreateForm() %}

{% set crumbs    = [
    { label: "Settings"|t('sprout-forms'), url: url('sprout-forms/settings') },
    { label: "Entry Statuses"|t('sprout-forms'), url: url('sprout-forms/settings/entry-statuses') }
] %}

{% set title = entryStatus.name ?? 'Create New Entry Status'|t('sprout-forms') %}

{% set fullPageForm = true %}

{% block actionButton %}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('sprout-forms') }}">

        {% if not canCreateForm %}
            {{ sprout.upgradeToProButton({
                url: cpUrl('sprout-forms/upgrade'),
                title: "Upgrade to Sprout Forms PRO to manage Unlimited Forms"|t('sprout-forms')
            }) }}
        {% endif %}
    </div>

{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="sprout-forms/entry-statuses/save">
    {{ redirectInput('sprout-forms/settings/entry-statuses') }}

    {% if entryStatus.id %}
        <input type="hidden" name="entryStatusId" value="{{ entryStatus.id }}">
    {% endif %}

    {{ forms.textField({
        id: "name",
        name: "name",
        label: "Name"|t('sprout-forms'),
        value: entryStatus.name,
        instructions: "What this product type will be called in the CP."|t('sprout-forms'),
        first: true,
        autofocus: true,
        required: true,
        translatable: true,
        errors: entryStatus.getErrors("name")
    }) }}

    {{ forms.textField({
        id: "handle",
        name: "handle",
        label: "Handle"|t('sprout-forms'),
        class: "code",
        value: entryStatus.handle,
        instructions: "How you’ll refer to this order status type in your templates."|t('sprout-forms'),
        required: true,
        errors: entryStatus.getErrors("handle")
    }) }}

    {{ forms.hidden({
        id: 'color',
        name: 'color',
        value: entryStatus.color
    }) }}
    {% set colorField %}
        <div>
            <a id="color-menu-btn" class="btn menubtn" href="#">
                <span class="status {{ entryStatus.color }}"></span>{{ entryStatus.color|t|title }}
            </a>
            <div class="menu">
                <ul class="padded">
                    {% for color in ['green','orange', 'red', 'blue', 'yellow', 'pink', 'purple', 'turquoise', 'light', 'grey', 'black'] %}
                        <li>
                            <a data-val="{{ color }}" {% if entryStatus.color == color %}class="sel"{% endif %} href="#"><span class="status {{ color }}"></span>{{ color|t|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endset %}
    {{ forms.field({
        label: 'Color'|t('sprout-forms'),
        instructions: 'Choose a color for the entry status'|t('sprout-forms')
    },colorField) }}

    {{ forms.lightswitchField({
        label: "Default Entry Status"|t('sprout-forms'),
        instructions: "Use this Entry Status as the default when a form is submitted."|t('sprout-forms'),
        name: 'isDefault',
        on: entryStatus.isDefault
    }) }}

{% endblock %}

{% js %}
    {% if not entryStatus.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}

    $(function () {

    $colorSelect = $('#color-menu-btn');

    new Garnish.MenuBtn($colorSelect, {
    onOptionSelect: function(data){
    var val = $(data).data('val');
    $('#color').val(val);
    var html = "<span class='status "+val+"'></span>"+Craft.uppercaseFirst(val);
    $colorSelect.html(html);
    }
    });
    })();
{% endjs %}
